.findlobby-container {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.findlobby-header {
    margin: 2rem;
}



#findlobby-button-join {
    height: 3.4rem;
    width: 8rem;

}

#findlobby-button-create {
    margin-top: 2rem;
    height: 3.4rem;
    width: 25rem;
}

#findlobby-form {
    margin: 3rem;
    width: 25rem;
}

#findlobby-input {
    width: 15rem;
}